body { 
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;

}


.main {
   
    background-color: #1F2937;
    color: white;
  
}

.header {
    display: flex;
     display:flex;
    justify-content: space-around; 
   
}

ul li {
    padding: 25px;
    list-style: none;
      font-size: 18px;
}

ul {
    display: flex;
  
}

/* Hero Logo Text */
.header h1{ 
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    display:flex;
    justify-content: space-evenly;
  

  
}
.main {
    padding-bottom: 70px;
   
}

/* hero main text */
.main-hero h2 {
   
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    inline-size: 400px;
    overflow-wrap: break-word;
}

/* Hero Secondary Text */
.main-hero p {
    font-size: 18px;
    color: #E5E7EB;
    inline-size: 600px;
    overflow-wrap: break-word;
  
}


.signUp {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 24px;

}

span {
    display:block;
}

 a{
    color:#E5E7EB;
    text-decoration: none;
 }

 img{ 
    margin-top:20px;
    width:550px;
    height:250px;
    padding:20px;
   
 }

 .content h2 {
    text-align: center;
    font-size: 36px;
    color:  #1f2937;
    font-weight:900;
 }
 

 .card {
    height:200px;
    width:200px;
    border: 6px solid #3992F6;
    border-radius: 12px;
 }

 .card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding:50px;
 }

.wrapper p {
    font-size: 18px;
    width:200px;
    text-align: center;
}

.quote-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:100px;
    font-size: 36px;
    font-weight: 300;
    background-color: #E5E7EB;
}

.quote-container .text-quote {
    line-height:50px;
    max-width:850px;
  
  
}


.quote-author {
    font-weight: bold;
    margin-left:500px;
}

.action {
    margin:100px;
}


.action {
    color:#F9FAF8;
    font-size: 24px;
    background-color: #3882F6;
    height:200px;
    border-radius: 7px;
}


.action {
  line-height: 5px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.action-title {
    font-weight: 800;
}

.signUpAction {
    color:#F9FAF8;
    font-size:24px;
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 7px;
    padding:8px 24px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    padding:60px;
    text-align: center;
    font-size: 24px;
}