body { 
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif
}


.main {
   
    background-color: #1F2937;
    color: white;
  
}

.header {
    display: flex;
     display:flex;
    justify-content: space-around; 
   
}

ul li {
    padding: 25px;
    list-style: none;
      font-size: 18px;
}

ul {
    display: flex;
  
}

/* Hero Logo Text */
.header h1{ 
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    display:flex;
    justify-content: space-evenly;
  

  
}
.main {
    padding-bottom: 70px;
   
}

/* hero main text */
.main-hero h2 {
   
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    inline-size: 400px;
    overflow-wrap: break-word;
}

/* Hero Secondary Text */
.main-hero p {
    font-size: 18px;
    color: #E5E7EB;
    inline-size: 600px;
    overflow-wrap: break-word;
  
}




.signUp {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 24px;

}

span {
    display:block;
}

 a{
    color:#E5E7EB;
    text-decoration: none;
 }

 img{ 
    margin-top:20px;
    width:550px;
    height:250px;
    padding:20px;
   
 }